---
type Props = {
  name: string;
  url: string;
  playAudio?: boolean;
  isForPageDetails?: boolean;
  cssClasses?: string;
  style?: astroHTML.JSX.CSSProperties;
};

const {
  name,
  url,
  playAudio = false,
  cssClasses = '',
  style,
  isForPageDetails = false,
} = Astro.props;
const pokemonId = url.split('/').at(-2);
const imageURL = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${pokemonId}.png`;
const id = url.split('/').at(-2);
const audioSource = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
---

<section class:list={[
  {
    card: !isForPageDetails,
    cardDetails: isForPageDetails,
  },
  ...(cssClasses ? [cssClasses] : [])
]} style={style}>
  <a href={`/pokemons/${name}`}>
    <img
      src={imageURL}
      class="pokemonImage"
      alt={`${name} pokemon`}
    />
  </a>

  { playAudio && (
    <audio id="pokemon-screan" controls class="my-5">
      <source src={audioSource} type="audio/ogg" />
      Your browser does not support the audio element.
    </audio>
  )}

  {!isForPageDetails && (
    <h2 class="pokemonName">
      <a href={`/pokemons/${name}`}># {id} - {name}</a>
    </h2>
  )}
</section>

<script>
  const audio = document.getElementById("pokemon-screan") as HTMLAudioElement;
  audio.volume = 0.2;
</script>

<style>
  .card {
    @apply bg-slate-800 border border-slate-100 rounded p-4 flex flex-col justify-center items-center;
  }
  .cardDetails {
    @apply flex flex-col justify-center items-center;
  }
  .pokemonImage {
    @apply w-full h-auto;
  }
  .pokemonName {
    @apply capitalize text-xl font-bold text-sky-500;
  }
</style>
