---
import type { GetStaticPaths } from "astro";
import type { PokemonList } from "../../types/pokemon";
import MainLayout from "../../layouts/main-layout.astro";
import { capitalize } from "../../utils";
import Divider from "../../components/divider.astro";
import PokemonCard from "../../components/pokemons/PokemonCard.astro";
import { get151Pokemons } from "../../services/get-pokemon-list";

type Props = {
  url: string;
};

export const getStaticPaths = (async () => {

  const { results } = await get151Pokemons(); // This is local data
  // const result = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
  // const { results } = await result.json() as PokemonList;

  return results.map((pokemon) => ({
    params: { name: pokemon.name },
    props: {
      name: pokemon.name,
      url: pokemon.url
    },
  }));

}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;
const pokemonCapitalized = capitalize(name);
---

<MainLayout
  pageTitle={`${pokemonCapitalized} Pokemon`}
  metaDescription={`A detailed view of the "${pokemonCapitalized}" pokemon character`}
  metaRobots="index, follow"
>
  <div class="mainWrapper">
    <h2 class="pageHeading" style={{ display: 'block' }}>{pokemonCapitalized}</h2>
    <Divider />

    <section id="content">
      <PokemonCard
        name={name}
        url={url}
        cssClasses="mb-5"
        isForPageDetails
        playAudio
      />
    </section>

  </div>
</MainLayout>

<style>
  .mainWrapper {
    @apply container mx-auto px-5 lg:px-0;
  }
  .pageHeading {
    @apply text-5xl text-purple-600 text-center mt-8;
  }
  #content {
    @apply w-full mx-auto md:max-w-[600px];
  }
  .backLink {
    @apply block w-full text-center bg-blue-600 text-white px-0 py-4 mt-5 rounded hover:bg-blue-700 transition-colors md:w-fit md:px-5;
  }
</style>