---
import type { GetStaticPaths } from "astro";
import type { PokemonList } from "@interfaces/pokemon";
import MainLayout from "@layouts/main-layout.astro";
import { capitalize } from "@utils/helpers";
import { Divider, PokemonCard } from '@components/index';
import Heading from "@components/shared/heading.astro";
import { Icon } from "astro-icon/components";

type Props = {
  url: string;
};

export const getStaticPaths = (async () => {

  // const { results } = await get151Pokemons(); // This is local data
  const result = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
  const { results } = await result.json() as PokemonList;

  return results.map((pokemon) => ({
    params: { name: pokemon.name },
    props: {
      name: pokemon.name,
      url: pokemon.url
    },
  }));

}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;
const id = url.split("/").at(-2);
const pokemonCapitalized = capitalize(name);
---

<MainLayout
  pageTitle={`${pokemonCapitalized} Pokemon`}
  metaDescription={`A detailed view of the "${pokemonCapitalized}" pokemon character`}
  metaRobots="index, follow"
>
  <div class="mainWrapper">
    <div class="flex justify-center items-center gap-8 mt-8">
      <Heading>{pokemonCapitalized}</Heading>

      <button id="favorite" data-name={name} data-id={id}>
        <Icon
          class:list="favotiteIcon"
          name={`heart-${true ? "outline" : "filled"}`}
          size={50}
        />
      </button>
    </div>

    <Divider />

    <section id="content">
      <PokemonCard
        name={name}
        url={url}
        cssClasses="mb-5"
        isForPageDetails
        playAudio
      />

      <button onclick="history.back()" class="backButton">
        Back
      </button>
    </section>

  </div>

</MainLayout>

<style>
  .mainWrapper {
    @apply container mx-auto px-5 lg:px-0;
  }
  #content {
    @apply w-full mx-auto md:max-w-[600px];
  }
  .backButton {
    @apply bg-blue-600 hover:bg-blue-700 px-3 py-2 rounded transition-colors;
  }
  #favorite {
    @apply hover:animate-pulse;
  }
  .favotiteIcon {
    @apply text-red-500;
  }
</style>