---
import type { GetStaticPaths } from "astro";
import type { PokemonList } from "@interfaces/index";
import MainLayout from "@layouts/main-layout.astro";
import { capitalize } from "@utils/helpers";
import { Divider, PokemonCard } from '@components/index';
// import { get151Pokemons } from "@services/get-pokemon-list"; // This is local data

export const getStaticPaths = (async () => {

  // const { results } = await get151Pokemons(); // This is local data
  const result = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
  const { results } = await result.json() as PokemonList;

  return results.map((pokemon) => {
    const pokemonId = pokemon.url.split('/').at(-2);
    return {
      params: { id: pokemonId },
      props: {
        name: pokemon.name,
        url: pokemon.url,
      },
    };
  });

}) satisfies GetStaticPaths;

type Props = {
  name: string;
  url: string;
};

const { name, url } = Astro.props;
const pokemonCapitalized = capitalize(name);
---

<MainLayout
  pageTitle={`${pokemonCapitalized} Pokemon`}
  metaDescription={`A detailed view of the "${pokemonCapitalized}" pokemon character`}
  metaRobots="index, follow"
>
  <div class="mainWrapper">
    <h2 class="pageHeading">{pokemonCapitalized}</h2>
    <Divider />

    <section id="content">
      <PokemonCard
        name={pokemonCapitalized}
        url={url}
        cssClasses="mb-5"
        isForPageDetails
        playAudio
      />
    </section>
  </div>
</MainLayout>

<style>
  .mainWrapper {
    @apply container mx-auto px-5 lg:px-0;
  }
  .pageHeading {
    @apply text-5xl text-purple-600 text-center mt-8;
  }
  #content {
    @apply w-full mx-auto md:max-w-[600px];
  }
  .backLink {
    @apply block w-full text-center bg-blue-600 text-white px-0 py-4 mt-5 rounded hover:bg-blue-700 transition-colors md:w-fit md:px-5;
  }
</style>