---
import { Divider, PokemonCard } from '@components/index';
import MainLayout from '@layouts/main-layout.astro';
// import { getPokemonList } from '@services/get-pokemon-list'; // This is local data
import type { PokemonList } from '@interfaces/pokemon';

const pageTitle = 'Pokemon List';

const styles = {
	mainWrapper: 'container px-5 mx-auto',
	heading: 'text-5xl text-purple-500/80 font-bold text-center mt-8',
	pokemonWrapper: 'grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5',
};

// const data = await getPokemonList(); // This is local data
const response = await fetch('https://pokeapi.co/api/v2/pokemon');
const data = await response.json() as PokemonList;
---

<MainLayout>
	<div class={styles.mainWrapper}>
		<h1 class={styles.heading}>{pageTitle}</h1>

		<Divider />

		<section
			class={styles.pokemonWrapper}
			aria-label="List of popular pokemon characters"
		>
			{data.results?.map((pokemon) => (
				<PokemonCard
					name={pokemon.name}
					url={pokemon.url}
				/>
			))}
		</section>
	</div>
</MainLayout>
