---
import Divider from '../components/divider.astro';
import PokemonCard from '../components/pokemons/PokemonCard.astro';
import MainLayout from '../layouts/main-layout.astro';
import { getPokemonList } from '../services/get-pokemon-list';
import type { PokemonList } from '../types/pokemon';

const pageTitle = 'Pokemon List';

const styles = {
	mainWrapper: 'container px-5 mx-auto',
	heading: 'text-5xl text-purple-500/80 font-bold text-center mt-8',
	pokemonWrapper: 'grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5',
};

const data = await getPokemonList(); // This is local data
// const response = await fetch('https://pokeapi.co/api/v2/pokemon');
// const data = await response.json() as PokemonList;
---

<MainLayout
	pageTitle={pageTitle}
	metaDescription="A list of the most popular pokemon characters"
	metaRobots="index, follow"
>
	<div class={styles.mainWrapper}>
		<h1 class={styles.heading}>{pageTitle}</h1>

		<Divider />

		<section
			class={styles.pokemonWrapper}
			aria-label="List of popular pokemon characters"
		>
			{data.results?.map((pokemon) => (
				<PokemonCard name={pokemon.name} url={pokemon.url} />
			))}
		</section>
	</div>
</MainLayout>
