---
import type { MetaRobots } from '@interfaces/index';
import { siteInfo } from '@src/constants';
import Navbar from "@components/shared/navbar.astro";

type Props = {
	pageTitle?: string;
	metaDescription?: string;
	metaRobots?: MetaRobots;
};

const {
	pageTitle = siteInfo.title,
	metaDescription = siteInfo.description,
	metaRobots = "index, follow",
} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<!-- SEO -->
		<meta name="description" content={metaDescription} />
		<meta name="robots" content={metaRobots} />
		<meta name="author" content="Daniel González" />
		<!-- OG Tags -->
		<meta name="og:title" content={pageTitle} />
		<meta name="og:description" content={metaDescription} />
		<meta name="og:image" content={siteInfo.image} />
	</head>
	<body>
		<header>
			<Navbar />
		</header>
		<main>
			<slot />
		</main>
	</body>
</html>

<style>
	body {
		@apply bg-slate-900 text-slate-100;
	}
	@view-transition {
		navigation: auto;
	}
</style>